<html>
<head>
	<meta charset="utf8">
	<title>Putain de calendrier</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="stylesheet" href="main.css">
	<script src="utils.js"></script>
</head>
<body >
	<main id="app">
		<transition name="fade">
			<aside class="calendar__options" v-if="!isIdle">
				<ul class="options__list" v-if="menuOpen">
					<li class="option__item">
						<router-link to="/create">Créer votre putain de calendrier</router-link>
					</li>
					<li class="option__item">
						<span class="option__print">Imprimer votre putain de calendrier</span>
					</li>
				</ul>

				<button class="option__opener" @click="menuOpen = !menuOpen">
					<span></span>
					<span></span>
					<span></span>
				</button>
			</aside>
		</transition>

		<header class="calendar__header">
			<h3 class="header__title">Belette & co</h3>
			<h3 class="header__year">{{ year }}</h3>
		</header>

		<section class="calendar__title__wrapper">
			<h2 class="calendar__subtitle">le calendrier</h2>
			<h1 class="calendar__title">Putain</h1>
		</section>

		<div class="calendar__content">
			<ul class="calendar__list">
				<li class="calendar__item" v-for="(item, $index) in items" :key="$index">
					<span class="calendar__month">{{ item.month }}</span>
					<h3 class="calendar__putain">{{ item.putain }}</h3>

					<ul class="days__list">
						<li class="day__item day__item--empty" v-for="paddingDay in item.paddingDays" :key="paddingDay"></li>
						<li class="day__item" :class="{ 'is-monday': day.isMonday }" v-for="(day, $dayIndex) in item.days" :key="$dayIndex">{{ day.dayNumber }}</li>
					</ul>
				</li>
			</ul>
		</div>
	</main>
	<script src="vue.min.js"></script>
	<script src="main.js"></script>
</body>
</html>