*, *:before, *:after {
	box-sizing: border-box;
}

@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Helvetica.woff2') format('woff2'),
        url('./fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Helvetica-Bold.woff2') format('woff2'),
        url('./fonts/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./fonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('./fonts/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

:root {
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@page { size: A3; }

html, body {
	margin: 0;
	padding: .5em;
}

body {
	font-family: 'Helvetica Neue', 'Helvetica', Roboto, Arial, sans-serif;
	padding: 0;
	background-color: #000;
	color: #fff;
	padding: 1em;
}

.calendar__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	max-width: 80%;
	margin: 0 auto;
}

.calendar__title__wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 7em;
}
	.calendar__subtitle {
		font-size: 2.5em;
		margin-bottom: 0;
	}
	.calendar__title {
		font-size: 15em;
		margin-top: .15em;
		margin-bottom: .65em;
		line-height: 1;
	}

.calendar__list {
	list-style: none;
	padding: 0 5em;
	margin: 0 auto;
	max-width: 80%;
	min-width: 1100px;
	text-align: center;
}
	.calendar__item {
		display: inline-block;
		vertical-align: top;
		width: calc((100% / 4) - (2em * 2));
		min-width: 275px;
		/*min-width: calc((100% / 4) - (2em * 2));*/
		margin-bottom: 4em;
		text-align: left;
	}
		.calendar__month {
			font-size: .75em;
		}
		.calendar__putain {
			margin-top: 3px;
			margin-bottom: 5px;
			font-size: 1.5em;
			white-space: pre-line;
		}

.days__list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
	.day__item {
		font-size: .85em;
		width: calc(100% / 14);
		min-width: calc(100% / 14);
		text-align: center;
		margin-bottom: 2px;
	}
	.day__item.is-monday {
		font-weight: bold;
	}

@media print {
	body {
		height: 100vh;
	}
	.calendar__list {
		max-width: none !important;
	}
	.option__opener {
		display: none;
	}
	.calendar__item {
	    width: calc((100% / 3) - (2em * 2));
    	/*min-width: calc((100% / 3) - (2em * 2));*/
	}
	.calendar__item:not(:nth-child(3n)) {
		margin-right: 2em;
	}
}

@media screen and (min-width: 1201px),
@media print {
	.calendar__item:not(:nth-child(4n)) {
		margin-right: 2em;
	}
}

@media screen and (max-width: 1200px) {
	.calendar__list {
		min-width: 1000px;
	}
}

@media screen and (max-width: 768px) {
	html {
		padding: 0;
	}

	.calendar__header {
		max-width: none;
	}

	.calendar__title__wrapper {
		margin-top: 5em;
	}
		.calendar__title {
			font-size: 7.5em;
			margin-bottom: 1em;
		}

	.calendar__list {
		padding: 0;
		width: 100%;
		min-width: auto;
		max-width: none;
	}
	.calendar__item {
		width: 100%;
		margin-bottom: 2.5em;
	}
		.calendar__month {
			font-size: 1em;
		}
		.calendar__putain {
			font-size: 2em;
		}

	.day__item {
		font-size: 1em;
		margin-bottom: 4px;
	}
}

/* Options */
.calendar__options {
	position: fixed;
	top: 0;
	left: 0;
	font-family: var(--font-family);
}
	.option__opener {
		position: absolute;
		top: 30px;
		left: 30px;
		background-color: transparent;
		border: none;
		padding: 0;
		margin: 0;
		cursor: pointer;
	}
		.option__opener span {
			display: block;
			width: 2em;
			height: .25em;
			background-color: #fff;
			border-radius: 5px;
		}
		.option__opener span:not(:last-child) {
			margin-bottom: 6px;
		}

	.options__list {
		list-style: none;
		margin: 0;
		padding: calc(30px + .25em * 3 + 10px) 0 0 30px;
	}
		.option__item {
			margin-top: 15px;
		}

/* transitions */
.fade-enter-active, .fade-leave-active {
    transition: opacity 200ms linear;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
}

@media screen and (max-width: 768px) {
	.option__opener {
		top: 80px;
		left: 1em;
	}
	.options__list {
		padding-top: calc(80px + .25em * 3 + 10px);
	}

}